
# Build Artifacts
dist/
build/
release/
*.zip
*.exe
*.msi

# Dependencies
node_modules/
tools/

# Environment
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store
